    *,
    head,
    body {
        margin: 0px;
    }
    
    body {
        height: 2050px;
    }
    
    .header1 {
        background-color: #012c3c;
        height: 50px;
        width: 100%;
    }
    
    .ikon i {
        color: #999ea3;
        border-right: 1px solid #999ea3;
        padding: 17px 18px;
    }
    
    .ikon i:hover {
        background-color: #FE5454;
        color: white;
        transition: 1s;
    }
    
    .elaqe p {
        color: #999ea3;
        display: inline-block;
        border-right: 1px solid #999ea3;
        padding: 13px 18px;
    }
    
    .elaqe p:hover {
        background-color: dodgerblue;
        color: white;
    }
    
    .header2 img {
        margin: auto;
    }
    
    .header3 {
        background-color: #5bca5b;
        position: relative;
    }
    
    .navmenu ul li {
        margin: 5px 5px;
        padding: 5px;
    }
    
    .fonta {
        color: rgb(3, 3, 44);
        font-family: "Comic Sans MS", cursive, sans-serif;
    }
    
    .fonta:hover {
        color: #d62323;
        transition: 0.2s;
    }
    
    .dmenu1 {
        margin-top: 20px;
    }
    
    .dmenu1 a {
        color: rgb(19, 126, 85);
    }
    
    .ikon2 i {
        color: #5bca5b;
        border: 2px solid white;
        border-radius: 50%;
        padding: 8px;
        margin-top: 2px;
        background-color: white;
    }
    
    .ikon2 i:hover {
        color: #d62323;
        transition: 0.5s;
    }
    
    .seh1 {
        margin-top: 1px;
        height: 650px;
        background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(..//image/ekokat1.jpeg);
        background-size: 100% 100%;
        background-attachment: fixed;
    }
    
    .seh1text {
        color: white;
        padding-top: 50px;
        margin-top: 230px;
        margin-left: 100px;
    }
    
    .seh1text p {
        color: white;
        font-family: "Times New Roman", Times, serif;
    }
    
    .bir {
        background-color: #5bca5b;
        color: white;
        display: inline-block;
        padding: 5px 15px;
    }
    
    .iki {
        margin-top: 13px;
        margin-left: 60px;
        display: inline-block;
        background-color: #d62323;
        padding: 5px 15px;
    }
    
    .uc {
        margin-top: 200px;
        color: white;
        font-family: "Times New Roman", Times, serif;
        font-size: 27px;
        border-left: 2px solid white;
        height: 300px;
        padding-left: 60px;
        padding-top: 110px;
    }
    
    .buton1 {
        width: 340px;
        height: 42px;
    }
    
    .buton1 i {
        border-right: 1px solid black;
        padding-right: 20px;
        margin-right: 20px;
    }
    
    .seh3 {
        background-color: rgb(252, 247, 247);
    }
    
    .sira1 button {
        border: 1px solid #999ea3;
        border-radius: 0px;
        width: 280px;
        height: 50px;
        margin-top: 0px;
        padding-top: 13px;
        font-family: Lucida Console, Monaco, monospace;
    }
    
    .link1 {
        margin-left: 60px;
    }
    
    .link1 p {
        font-size: 17px;
        font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    }
    
    .link1 img {
        width: 370px;
        height: 240px;
        margin-left: 190px;
    }
    
    .link2 {
        margin-left: 60px;
        display: none;
    }
    
    .link2 p {
        font-size: 17px;
        font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    }
    
    .link2 img {
        width: 300px;
        height: 350px;
        margin-left: 190px;
    }
    
    .link3 {
        margin-left: 60px;
        display: none;
    }
    
    .link3 p {
        font-size: 17px;
        font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    }
    
    .link4 {
        margin-left: 60px;
        display: none;
    }
    
    .link4 p {
        font-size: 17px;
        font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    }
    
    .link4 img {
        width: 370px;
        height: 300px;
        margin-left: 140px;
    }
    
    .link5 {
        margin-left: 60px;
        display: none;
    }
    
    .link5 p {
        font-size: 17px;
        font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    }
    
    .link5 img {
        width: 380px;
        height: 420px;
    }
    
    .ikon3 i {
        color: rgb(19, 126, 85);
        border-radius: 40px;
        margin-left: 60px;
        width: 130px;
        padding-left: 30px;
        margin-bottom: 20px;
    }
    
    .ikon3 h5 {
        text-align: center;
    }
    
    .ikon3 p {
        color: rgb(141, 140, 140);
    }
    
    .ikon4 i {
        color: rgb(218, 106, 106);
    }
    
    .ikon4 h5 {
        padding-top: 7px;
        padding-left: 15px;
    }
    
    .ikon4 p {
        padding-left: 40px;
        padding-top: 7px;
    }
    
    footer {
        background-color: rgb(112, 23, 23);
        height: 300px;
    }
    
    .footikon {
        margin-left: 170px;
    }
    
    .footikon i {
        margin-left: 30px;
        font-size: 30px;
    }