*,
head,
body {
    margin: 0;
}

body {
    height: 950px;
    background-image: url(..//image/sekil4.jpeg);
    background-size: 100%;
    background-position: 100%;
}

.divlink {
    text-align: center;
    margin-top: 10px;
    text-decoration-color: white;
}

.divlink ul li a {
    color: white;
    text-decoration: none;
}

.divlink ul li {
    margin-bottom: 13px;
}

.divlink ul li a:hover {
    color: rgb(204, 135, 6);
}

.logo {
    margin-top: 20px;
    text-align: center;
    color: white;
}

.logo i {
    margin-right: 5px;
}

.logo i:hover {
    color: rgb(204, 135, 6);
}

.hometext {
    margin-top: 50px;
}

.hometext h1,
h5 {
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(204, 135, 6);
}