.page7 {
    width: 100%;
    height: 450px;
    .page7txt {
        width: 100%;
        height: 250px;
        text-align: center;
        align-items: center;
        h1 {
            margin-top: 70px;
            span {
                color: #E71B37;
            }
        }
        .hr1 {
            width: 200px;
            background-color: rgb(192, 189, 189);
        }
        .hr2 {
            width: 150px;
            background-color: rgb(192, 189, 189);
            margin-top: -10px;
        }
        .hr3 {
            width: 100px;
            background-color: rgb(192, 189, 189);
            margin-top: -10px;
        }
        p {
            margin: 20px 70px;
        }
    }
}

footer {
    width: 100%;
    height: 300px;
    background-color: rgba(0, 0, 0, 0.904);
    padding-top: 50px;
    color: white;
    .div1 {
        color: white;
        h5 {
            margin-bottom: 35px;
        }
    }
    .div2 {
        ul {
            margin-top: 30px;
            li {
                list-style: none;
                margin-left: -40px;
                margin-top: 10px;
                i {
                    color: rgb(73, 72, 72);
                    font-size: 13px;
                }
                a {
                    color: rgb(179, 179, 179);
                    text-decoration: none;
                    font-weight: bold;
                    margin-left: 10px;
                    font-size: 15px;
                    &:hover {
                        transition: color 0.5s;
                        color: #E71B37;
                    }
                }
            }
        }
    }
    .div3 {
        h5 {
            margin-bottom: 26px;
        }
        img {
            margin: 5px 5px 0px 0px;
            border-radius: 5px;
        }
    }
    .div4 {
        h5 {
            margin-bottom: 30px;
        }
        p {
            color: rgb(179, 179, 179);
        }
        input {
            width: 95%;
            height: 40px;
            border-radius: 5px;
            border: none;
            padding-left: 15px;
            margin-bottom: 10px;
        }
        button {
            width: 95%;
            height: 40px;
            border-radius: 5px;
            border: none;
            background-color: #E71B37;
            font-weight: bold;
            color: white;
            &:hover {
                transition: 0.5s;
                background-color: rgba(20, 20, 20, 0.836);
            }
        }
    }
}