                @media only screen and (max-width: 1000px) {
                    body {
                        overflow-x: hidden;
                    }
                    header {
                        .navbar-nav {
                            display: none;
                        }
                        .ikon4 {
                            margin-top: -70px;
                        }
                    }
                    .page1 {
                        .page1text {
                            margin-left: 10%;
                            margin-top: 30%;
                        }
                        .circle1 {
                            left: 20px;
                        }
                        .circle2 {
                            right: 20px;
                        }
                        .circle3 {
                            left: 20px;
                        }
                        .circle4 {
                            right: 20px;
                        }
                        .circle5 {
                            left: 20px;
                        }
                        .circle6 {
                            right: 20px;
                        }
                    }
                    .page2 {
                        height: 1000px;
                        background-image: none;
                        background-color: #f3f1f1;
                        text-align: center;
                        .page2div2 {
                            margin-left: 200px;
                        }
                    }
                    .page3 {
                        height: 1300px;
                        .page3div1 {
                            text-align: center;
                            h1 {
                                margin-top: 130px;
                                width: 780px;
                                margin-left: 0px;
                            }
                            .page3div1p {
                                margin-left: 0px;
                            }
                            .page3div2 {
                                margin-left: 80px;
                            }
                        }
                    }
                    .page4 {
                        width: 100%;
                        height: 1600px;
                        background-color: rgba(0, 0, 0, 0.884);
                        .row {
                            div {
                                margin-bottom: 20px;
                            }
                        }
                    }
                    .page5 {
                        height: 270px;
                        ul {
                            text-align: center;
                            display: flex;
                            flex-direction: column;
                            justify-content: space-between;
                            margin-left: -100px;
                        }
                    }
                    .page6 {
                        height: 1400px;
                        .div1 {
                            img {
                                width: 440px;
                            }
                        }
                    }
                    .page7 {
                        height: 1200px;
                        div {
                            height: 600px;
                        }
                    }
                    .page8 {
                        height: 1400px;
                        .page8text1 {
                            h1 {
                                width: 100%;
                                margin-left: 100px;
                            }
                        }
                    }
                    .page9 {
                        height: 700px;
                        .container {
                            .page8imgs {
                                .page9text2 {
                                    top: 240px;
                                    left: 13%;
                                }
                                .front {
                                    height: 45%;
                                }
                                .back {
                                    height: 45%;
                                }
                            }
                        }
                    }
                    .page10 {
                        height: 1500px;
                        .page10img {
                            height: 800px;
                        }
                        .page10text1 {
                            margin-left: 100px;
                            height: 800px;
                        }
                    }
                    .page11 {
                        height: 1200px;
                    }
                    .page13 {
                        height: 1200px;
                    }
                    .page14 {
                        height: 300px;
                        .container {
                            margin-top: 180px;
                        }
                    }
                    .page16 {
                        width: 100%;
                        height: 450px;
                        .container {
                            margin-left: 330px;
                        }
                    }
                    .seventeen {
                        height: 1100px;
                        .seventeen-txt {
                            margin-left: 30%;
                        }
                        .seventeen-cards {
                            .cards-1 {
                                margin-bottom: 50px;
                            }
                        }
                    }
                }
                
                @media only screen and (max-width: 700px) {
                    header {
                        .collapse {
                            .ikon4 {
                                a {
                                    .fa-facebook,
                                    .fa-twitter,
                                    .fa-dribbble {
                                        display: none;
                                    }
                                    .fa-search {
                                        display: block;
                                    }
                                }
                            }
                        }
                    }
                    .page1 {
                        height: 900px;
                        .page1text {
                            margin-left: -130px;
                            margin-top: 70%;
                            p {
                                font-size: 12px;
                            }
                            h1 {
                                font-size: 30px;
                            }
                        }
                        .carousel-control-prev {
                            display: none;
                        }
                        .carousel-control-next {
                            display: none;
                        }
                    }
                    .page2 {
                        height: 1000px;
                    }
                    .page3 {
                        height: 2200px;
                        .page3div1 {
                            h1 {
                                width: 390px;
                                margin-left: 40px;
                            }
                            .page3div1p {
                                margin-top: 30px;
                                width: 430px;
                                margin-left: 10px;
                            }
                        }
                    }
                    .page4 {
                        height: 1700px;
                    }
                    .page5 {
                        ul {
                            margin-left: 0px;
                            width: 400px;
                            li {
                                list-style: none;
                                a {
                                    font-size: 11px;
                                }
                            }
                        }
                    }
                    .page6 {
                        height: 2800px;
                    }
                    .page8 {
                        height: 1800px;
                        .page8text1 {
                            height: 1050px;
                        }
                        .page8text1 {
                            h1 {
                                margin-left: 60px;
                            }
                            .page8div4 {
                                .row {
                                    i {
                                        font-size: 55px;
                                    }
                                    h5 {
                                        margin-top: -200px;
                                        margin-left: 80px;
                                    }
                                    p {
                                        margin-left: 80px;
                                    }
                                }
                            }
                        }
                    }
                    .page9 {
                        height: 1300px;
                        background-size: contain;
                        .container {
                            .page8imgs {
                                .page9text2 {
                                    left: 26%;
                                }
                            }
                        }
                    }
                    .page10 {
                        .page10text1 {
                            margin-left: 0px;
                            h1 {
                                font-size: 40px;
                                width: 450px;
                            }
                        }
                    }
                    .page11 {
                        height: 1100px;
                        .container {
                            .page11img {
                                margin: 50px -15px;
                            }
                            .page11text {
                                margin: 150px 10px;
                            }
                        }
                    }
                    .page14 {
                        height: 650px;
                        .container {
                            .page14div4 {
                                text-align: center;
                                p {
                                    width: 150px;
                                    float: none;
                                    color: gray;
                                    margin-left: 150px;
                                }
                            }
                        }
                    }
                    .page15 {
                        height: 550px;
                        .container {
                            text-align: center;
                            .page15ikon {
                                font-size: 80px;
                                padding-top: 10px;
                            }
                            h1 {
                                font-size: 20px;
                            }
                            p {
                                font-size: 13px;
                            }
                            button {
                                text-transform: uppercase;
                                border-radius: 5px;
                                padding: 5px 15px;
                                background-color: white;
                                color: black;
                                border: 1px solid black;
                                margin-top: 50px;
                                i {
                                    color: black;
                                    font-size: 20px;
                                    margin-right: 15px;
                                }
                                &:hover {
                                    transition: 1s;
                                    background-color: black;
                                    color: white;
                                    i {
                                        color: white;
                                    }
                                }
                            }
                        }
                    }
                    .page16 {
                        width: 100%;
                        height: 450px;
                        .container {
                            margin-left: 80px;
                        }
                    }
                    .seventeen {
                        height: 1500px;
                        .seventeen-txt {
                            margin-left: 20%;
                        }
                        .seventeen-cards {
                            .cards-1 {
                                margin-bottom: 50px;
                                margin-left: 20px;
                            }
                        }
                    }
                    .page18 {
                        height: 1800px;
                    }
                    footer {
                        height: 400px;
                        text-align: center;
                        .div3 {
                            margin-left: 25%;
                        }
                    }
                }